#page_wrapper{
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #0B2429;
}
.cube{
    width: 100px;
    height: 100px;
    background-color: lightsalmon;
    display: inline-block;
}
#first{
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 150px;
    margin-left: 50px;
    z-index: 3;
}
#second{
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: blue;
    z-index: 2;
    margin-top: 100px;
    margin-left: 100px;
}
#third{
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    margin-bottom: 200px;
    margin-left: 150px;
    margin-top: 50px;
}